/* Main stylesheet */

* {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: #252525;
}

html,
body {
    height: auto;
    min-height: 100vh;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100 */
    background: rgb(229, 229, 229);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

p {
    font-size: 14px;
}

.highlight {
    font-weight: bold;
    color: #5ebfbc;
}

.bold {
    font-weight: bold;
}

.noPosts {
    text-align: center;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    max-width: 300px;
    margin: 100px auto 25px auto;
}

.form-error {
    font-size: 14px;
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

/* PAGE SLIDES */

.page-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.resetpass-page,
.login-page {
    width: 100vw;
    height: 100%;
    overflow: scroll;
}

.forgotpass-page,
.registration-page,
.profile-page,
.single-page,
.create-page {
    position: absolute;
    width: 100vw;
    height: 100%;
    transition: all .2s;
    z-index: 15;
    overflow: scroll;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100 */
    background: rgb(229, 229, 229);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.registration-page,
.profile-page {
    left: 100%;
    top: 0;
}

.home-page {
    height: 100%;
    overflow: scroll;
}

.single-page {
    left: 0;
    top: 100%;
}
    
.single-page .background-overlay {
    background: rgba(0,0,0,0.25);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.single-page .icon-cross {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.create-page, .forgotpass-page {
    left: -100%;
    top: 0;
}

/* PAGE SLIDES END */

.topbar,
.bottombar {
    width: 100%;
    height: 45px;
    left: 0;
    background-color: #fff;
    text-align: center;
    position: fixed;
    z-index: 999;
}

.topbar {
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bottombar {
    bottom: 0;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
}
    
.bottombar .logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.bottombar img {
    height: 25px;
    width: 25px;
    padding: 10px;
    margin: 0 10px;
}

.bottombar img.icon-add,
.bottombar img.icon-profile {
    opacity: 0.15;
}

.bottombar .icon-signout-desktop {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.bottombar .icon-signout-desktop img {
    height: 15px;
    padding: 35px 10px;
}

.topbar.login, .topbar.reset {
    background: none;
    box-shadow: none;
}

.topbar .icon-left, .topbar .icon-right {
    display: none;
}

.topbar .icon-left,
.bottombar .icon-left {
    height: 15px;
    padding: 15px;
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.topbar .redirect-home {
    top: 0;
    left: 0;
    position: absolute;
}

.topbar .redirect-home img {
    padding: 11px 15px;
}

.topbar .icon-signout {
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.topbar .icon-signout img {
    height: 15px;
    padding: 15px;
}

.topbar .icon-right,
.bottombar .icon-right {
    height: 15px;
    padding: 15px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.topbar .logo,
.bottombar .logo {
    height: 19px;
    padding: 13px;
}

.topbar input[type="submit"] {
    padding: 12px;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    background: none;
    font-weight: bold;
    color: #4ecdc4;
    
    display: none;
}
    
.close-icon {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

/* LOGIN AND REGISTRATION PAGE */

.wrapper {
    width: calc(100% - 50px);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* RESETPASSWORD PAGE */

.resetPassInfo {
    text-align: left;
}

/* RESETPASSWORD PAGE */

/* LOGIN PAGE */

.welcome {
    margin-top: 100px;
    margin-bottom: 20px;
}

.form-wrapper {
    min-height: 55vh;
    display: table;
}

form {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

form input {
    display: block;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 14px 20px;
    background: none;
    margin-bottom: 20px;

    color: #252525;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

form input[type='submit'] {
    border: 0;
    background: #4ecdc4;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

form input::placeholder {
    color: #b5b5b5;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

form input:focus,
form textarea:focus {
    outline: none;
}

.forgot-pw {
    font-weight: bold;
    text-align: center;
}

.create-one {
    text-align: center;
    margin-bottom: 50px;
}

/* REGISTRATION PAGE */

.tclink {
    font-size: 12px;
    margin-bottom: 50px;
}

.tc-container {
    width: calc(100% - 40px);
    max-width: 960px;
    height: calc(100% - 100px);
    background: #fff;
    box-sizing: border-box;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: none;
}

.tc-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 80px);
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.tc-container .title {
    font-weight: bold;
    display: block;
    font-size: 16px;
    text-align: center;
}

.tc-container .header {
    font-weight: bold;
    display: block;
}

.tc-container .header {
    padding-left: 20px;
}

.acceptTC {
    font-size: 14px;
    color: #5ebfbc;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 22px 0;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12);
}

/* LOGIN AND REGISTRATION PAGE END */

/* HOME PAGE */

.postlist-container .post:not(:first-child) {
    margin-top: 2px;
}

.postlist-container .post:last-child {
    margin-bottom: 45px;
}

.post .userTitle {
    font-size: 14px;
    font-weight: bold;
    padding: 14px 20px;
    background: #fff;
    box-sizing: border-box;
}

.postlist-container {
    margin-top: 45px;
    width: 100%;
    height: calc(100% - 45px);
}

.post .postimage-container {
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
    background-color: #000;
}

.postimage-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: solid rgba(0, 0, 0, 0);
    border-width: 5px 10px;
}

.postimage-container img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.post-bottombar {
    background-color: #fff;
}

.post-bottombar .likeComment-container {
    padding-top: 6px;
}

.post-bottombar .likecount-container,
.post-bottombar .commentcount-container {
    display: inline-block;
    width: auto;
    padding: 10px 10px 10px 20px;
}

.post-bottombar .likecount-container svg,
.post-bottombar .commentcount-container svg {
    display: inline-block;
    height: 15px;
    width: 20px;
    top: -1px;
}

.post-bottombar .likecount-container svg path,
.post-bottombar .commentcount-container svg path {
    stroke-width: 4px;
}

.post-bottombar .heart.active path {
    fill: red;
    stroke: red;
}

.post-bottombar .likecount-container p,
.post-bottombar .commentcount-container p {
    display: inline-block;
    font-size: 12px;
    color: #919191;
    vertical-align: top;
}

/* HOME PAGE END */

/* SINGLE PAGE*/

.single-page .post {
    margin-top: 45px;
    display: flex;
    flex-flow: column;
    height: calc(100% - 45px);
}

.single-page .post .userTitle {
    flex: 0 1 auto;
}

.single-page .post .postimage-container {
    flex: 0 1 auto;
}

.single-page .post .post-bottombar {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.single-page .post-bottombar .likeComment-container {
    flex: 0 1 auto;
}

.single-page .post-bottombar .comment-container {
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
    height: auto;
    min-height: 193px;
    background: #fff;
}

.single-page .post-bottombar form#comment-form {
    flex: 0 1 auto;
    display: block;
    vertical-align: top;
    margin-top: 2px;
    margin-bottom: 45px;
    border-top: 1px solid #f2f2f2;
}

.comment-container p {
    width: 100%;
    background-color: #fff;
}

.comment-container p:not(:first-child) {
    margin-top: 2px;
}

.comment-container p {
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
}

.comment-container p .username {
    font-weight: bold;
    margin-right: 4px;
}

form#comment-form input {
    width: calc(100% - 50px);
    height: 50px;
    border: 0;
    border-radius: 0;
    float: left;
    margin: 0;
    background: #fff;
}

form#comment-form .submit-btn {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 0;
    float: left;
    z-index: 10;
}

form#comment-form .submit-btn input[type='submit'] {
    width: 100%;
    background: transparent;
    z-index: 21;
}

form#comment-form .submit-btn img {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 12px;
    background: #4ecdc4;
}

/* SINGLE PAGE END */

/* CREATE PAGE */

.create-page .post {
    min-height: calc(100% - 90px);
    margin: 45px 0;
}

.create-page form {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 90px);
    display: block;
    
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10;
    text-align: center;
*/
}

.create-page form textarea {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid rgba(0, 0, 0, 0);
    border-width: 5px 10px;
    border-radius: 0;
    box-sizing: border-box;
    width: 80%;
    height: 100px;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.create-page form textarea::placeholder {
    color: #fff;
    opacity: .5;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    padding-top: 20px;
}

.create-page form input[type="checkbox"] {
    opacity: 0;
}

.takephoto-btn {
    padding: 14px 0;
    background: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.stockphotos-container {
    padding-top: 4px;
    padding-bottom: 45px;
}

.stockphoto {
    width: calc(25% - 3px);
    height: 22vw;
    overflow: hidden;
    margin: -2px 0;
    margin-top: 0;
    display: inline-block;
    background-color: #000;
}

.stockphoto:nth-child(n+5) {
    margin-top: 1px;
}

.stockphoto img {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

/* CREATE PAGE END */

/* DESKTOP */
@media screen and (min-width:800px) {
    .login-page .wrapper, .forgotpass-page .wrapper, .registration-page .wrapper, .resetpass-page .wrapper {
        width: 100%;
        max-width: 400px;
    }
    
    .create-page {
        display: none;
    }
    
    .topbar {
        display: none;
    }
    
    .bottombar {
        top: 0;
        bottom: auto;
        height: 85px;
    }
    
    .bottombar img {
        padding: 30px 10px;
    }
    
    .bottombar img.icon-add {
        display: none;
    }
    
    .bottombar .logo {
        display: block;
        padding: 33px;
        width: auto;
    }
    
    .bottombar svg {
        padding: 30px 15px;
    }

    .bottombar .icon-signout-desktop {
        display: block;
    }
    
    .postlist-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        max-width: 960px;
        width: calc(100% - 40px);
        margin: 105px auto 40px auto;
    }
    
    .post {
        width: calc(33% - 10px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    
    .postlist-container .post:nth-child(-n+3) {
        margin-top: 0;
    }
    
    .postlist-container .post:nth-child(n+4) {
        margin-top: 10px;
    }
    
    .postlist-container .post:last-child {
        margin-bottom: 0;
    }

    .postlist-container:after {
        content: "";
        width: calc(33% - 10px);
    }
    
    /* SINGLE PAGE */
    
    /*----------------*/
    
    .single-page {
        background: transparent;
        z-index: 99999999;
        transition: none;
    }
    
    .single-page .background-overlay {
        display: block;
    }

    .single-page .icon-cross {
        display: block;
    }
    
    .single-page .post {
        width: calc(100% - 200px);
        flex-flow: initial;
        max-height: calc(100% - 400px);
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    .single-page .post .userTitle {
        width: 100%;
        flex: none;
    }
    
    .single-page .post .postimage-container {
        width: calc(100% - 400px);
        padding-top: 0;
        height: calc(100% - 45px);
        flex: none;
    }
    
    .single-page .post .post-bottombar {
        flex: 1;
        display: block;
        flex-flow: initial;
        height: calc(100% - 45px);
    }

    .single-page .post-bottombar .likeComment-container {
        flex: none;
    }

    .single-page .post-bottombar .comment-container {
        flex: none;
        overflow: auto;
        height: calc(100% - 45px);
    }
    
    .single-page .poststuff-container {
        flex: auto;
        background: #f2f2f2;
    }
    
    .single-page .post-bottombar form#comment-form {
        position: absolute;
        bottom: 0;
        flex: none;
    }
    
    .single-page .post-bottombar form#comment-form .submit-btn{
        margin-bottom: 0;
    }
    
    .single-page .close-icon {
        display: block;
    }
}

/* DESKTOP END */
