/* Main stylesheet */

* {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: #252525;
}

html,
body {
    height: auto;
    min-height: 100vh;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100 */
    background: rgb(229, 229, 229);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

p {
    font-size: 14px;
}

.highlight {
    font-weight: bold;
    color: #5ebfbc;
}

.bold {
    font-weight: bold;
}

/* PAGE SLIDES */
.page-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login-page {
    width: 100vw;
    height: 100%;
    overflow: scroll;
}

.registration-page, .profile-page, .single-page {
    position: absolute;
    width: 100vw;
    height: 100%;
    transition: all .2s;
    z-index: 15;
    overflow: scroll;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100 */
    background: rgb(229, 229, 229);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(229, 229, 229) 0%, rgb(255, 255, 255) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.registration-page, .profile-page {
    left: 100%;
    top: 0;
}

.home-page {
    height: 100%;
    overflow: scroll;
}

.single-page {
    left: 0;
    top: 100%;
}
/* PAGE SLIDES END */

.topbar, .bottombar {
    width: 100%;
    height: 45px;
    left: 0;
    background-color: #fff;
    text-align: center;
    position: fixed;
    z-index: 999;
}

.topbar {
    top: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bottombar {
    bottom: 0;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
}

.bottombar svg {
    height: 25px;
    width: 25px;
    padding: 10px;
    margin: 0 10px;
}

.bottombar svg.add-icon, .bottombar svg.profile-icon {
    opacity: 0.15;
}

.topbar.login {
    background: none;
    box-shadow: none;
}

.topbar .icon-left, .bottombar .icon-left {
    height: 15px;
    padding: 15px;
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.topbar .icon-right, .bottombar .icon-right {
    height: 15px;
    padding: 15px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.topbar .logo, .bottombar .logo {
    height: 19px;
    padding: 13px;
}

/* LOGIN AND REGISTRATION PAGE */
.wrapper {
    width: calc(100% - 50px);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* LOGIN PAGE */
.welcome {
    margin-top: 100px;
    margin-bottom: 20px;
}

.form-wrapper {
    min-height: 55vh;
    display: table;
}

form {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

form input {
    display: block;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 14px 20px;
    background: none;
    margin-bottom: 20px;

    color: #252525;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

form input[type='submit'] {
    border: 0;
    background: #4ecdc4;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

form input::placeholder {
    color: #b5b5b5;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

form input:focus {
    outline: none;
}

.forgot-pw {
    font-weight: bold;
    text-align: center;
}

.create-one {
    text-align: center;
    margin-bottom: 50px;
}

/* REGISTRATION PAGE */
.tclink {
    font-size: 12px;
    margin-bottom: 50px;
}

/* LOGIN AND REGISTRATION PAGE END */

/* HOME PAGE */
.post:not(:first-child) {
    margin-top: 2px;
}
.post:last-child {
    margin-bottom: 45px;
}

.post h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 14px 20px;
    background: #fff;
}

.postlist-container {
    margin-top: 45px;
    width: 100%;
    height: auto;
}

.post .postimage-container {
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
}

.postimage-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: solid rgba(0,0,0,0);
    border-width: 5px 10px;
}

.postimage-container img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.post-bottombar {
    padding-top: 5px;
    background-color: #fff;
}

.post-bottombar .like-container, .post-bottombar .comment-container {
    display: inline-block;
    width: auto;
    padding: 10px 10px 10px 20px;
}

.post-bottombar .like-container svg, .post-bottombar .comment-container svg {
    display: inline-block;
    height: 15px;
    width: 20px;
    top: -1px;
}

.post-bottombar .like-container svg path, .post-bottombar .comment-container svg path {
    stroke-width: 4px;
}

.post-bottombar .like-container p, .post-bottombar .comment-container p {
    display: inline-block;
    font-size: 12px;
    color: #919191;
    vertical-align: top;
}

/* HOME PAGE END */
